[mysql]
## CLIENT ##
port                           = 3308
socket                         = /tmp/mysql3306.sock

[mysqld]
# EXECUTE FILE BASE DIR #
basedir                        = /opt/mysql
# DATA STORAGE #
datadir                        = /data/mysql/
#skip-grant-table

## GENERAL ##
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /tmp/mysql3306.sock
pid-file                       = /data/mysql/mysql.pid
port                           = 3308

## LOGGING ##
log-error                      = /data/mysql/mysql-error.log
slow-query-log-file            = /data/mysql/mysql-slow.log
log-queries-not-using-indexes  = 1
log-slow-admin-statements      = 1
slow-query-log                 = 1
long_query_time                = 0.5
sync_binlog                    = 1
log-bin                        = /data/mysql/mysql-bin
binlog_format                  = row
expire_logs_days               = 7
log-warnings                   = 10

## CACHES AND LIMITS ##
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query_cache_limit              = 2M        # not cache 2M result set
query-cache-type               = 1
query-cache-size               = 30M
max-connections                = 500
thread-cache-size              = 30
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 1500
binlog_cache_size              = 4M       # for each client ,see status like Binlog_cache_use and Binlog_cache_disk_use
max_allowed_packet             = 16M

## INNODB ##
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G
innodb_log_buffer_size         = 16M
innodb_thread_concurrency      = 16
innodb-flush-method            = O_DIRECT
innodb_lock_wait_timeout       = 5
innodb_rollback_on_timeout     = on
innodb_support_xa              = 0
innodb_write_io_threads        = 32
innodb_read_io_threads         = 32
innodb_io_capacity             = 2000

## SAFETY ##
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,ANSI_QUOTES,PIPES_AS_CONCAT,IGNORE_SPACE
innodb                         = FORCE
sysdate-is-now                 = 1
lower-case-table-names         = 1
max-allowed-packet             = 16M
max-connect-errors             = 10
secure-auth                    = 1      # do not use old password to auth user
keep_files_on_create           = 1      # not overwrite old MYISAM table
skip-name-resolve
skip-symbolic-links
skip-external-locking
#innodb-strict-mode             = 1

## MyISAM ##
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

## CHARSET ##
character-set-server           = utf8
collation-server               = utf8_bin

## SLAVE OPTION ##
log_slave_updates                = 1
server-id                        = 2
read-only
# do not replicate tables in mysql schema   
replicate-wild-ignore-table      = mysql.%
